html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
}

body{  
    background-color: antiquewhite;
}


/** Introside start *******************************************/
.content-wrapper-intro{
    background:URL(WHITE.jpg) ;
    font-family: 'Barlow Condensed', 'Helvetica', sans-serif;
    letter-spacing: 5px;
    height: 100vh;
    width: 100%;
    display: inline-block;
}

.introBar{
    margin: 70px 0 0 0;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    width:100%;
    
}
.introBar a{
    color: white;
}
.test{
    display: none;
    
}



.introBar li a{
    display:block;
    border-bottom: 1px solid;
    padding: 50px 30px;
    text-decoration: none;
    border-radius: 10px;
    /* background-color: rgba(16,13,13,0.75);*/
    background-color: #4b4b49;
    
    
    
}

.introBar li a:hover+div{
    background-color: rgba(16,13,13,0.75);
    display:inherit;
    border: solid;



    
}
.introBar li a:hover{
    margin: 0px;
    background-color: #ffffff;
    
    opacity: 0.9;
    filter: alpha(opacity=40);
    /*color: #100d0dbf;*/
    color: #4b4b49;
    
}
#english:hover{

}
#voice:hover{
    background: none;
    background-color: white;
    
}


.introBar ul{
    border:1px ;
    margin: 0 33.75%;
    padding: 0;
    width: 32.5%;
    list-style: none;
    border-radius: 10px;
    
    
    
}
.introBar li:last-child{
    border-bottom: none;

}


/* Media Queries*/

@media only screen and (max-width: 768px) {
    .introBar ul {
        margin: 0 10%;
        width: 80%;
    }


    .introBar li {
        padding: 3% 0;
    }
}

/*Media Queries End*/

/** Introside slutt ********************************/


/*Mobile Navbar*/

.show {
    display: block !important;
} 

.mobile-button {
    cursor: pointer;
    padding: 0 7px;
    margin:0 0 10px 0;
    background-color: inherit;  
    border: none;
    outline: none;

}

.mobile-button ul {

    display: block;
    list-style-type: none;
    background-color: #313131;
    margin: 0;
    margin-left:;
    padding: 0;
    height: 65px;
    width: 75px;
    border-radius: 5px;
}

.mobile-button-spacing {
    padding-top: 12%
}

.mobile-button li {
    display: inline-block;
    height:5%;
    padding: 3% 0;
    background-color: #FFF8F8;
    width:60%;
    border-radius: 2px;
    margin-bottom: 3%;
}

.mobile-navBar {
    visibility: visible;
    margin: 10px 0 0 0;
    position: absolute;
    width:100%;
    z-index: 99;

}
/*
.mobile-spacing{

    display:block;
    height:8px;
    width:100%;
    background-color:#a4a5c3;
}*/

.mobile-dropdown-content {
    display:none;
    position: absolute;
    width:100%;
    z-index: 1;
    background-color: #313131;
}

.mobile-dropdown-content ul{
    list-style: none;
}

.mobile-dropdown-content li {
    display: inline-block;
    width:60px;
    padding:0 5%;
}

.mobile-dropdown-content a {
    text-decoration: none;
    display:block;
}

.mobile-dropdown-content span {
    display: block;
    text-align: center;
    width:auto;
    color:white;
    font-family: 'Barlow Condensed', 'Helvetica', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.06em;

}

/*Mobile Navbar End*/

/*Content page start */
.content{
    width:100%;
    background-color:white;
    display: block;
    box-shadow: 0 -9px 0px 9px #313131;
    top:17vh;
    position: absolute;
}

.content p {
    text-align: justify;
    font: 1em Helvetica;
}

.inner-content {
   
    padding: 0px 2vh 0vh 2vh;
}

.inner-content div {
    padding-top: 2vh;
    padding-bottom: 0vh;
}
.intro-problem p {
    text-align: justify;
    
}

.bottom-p {
    padding-bottom: 1em;

}

h1, h2, h3, h4 {

  text-align: center;
  font-family: arial;

}

/*Content page end*/


/*Desktop Navbar Start*/

.navBar {
    visibility: hidden;
    position: fixed;
    margin:17vh 0;
    left: 0;
    width:200px;
    box-shadow:3px 0px 20px 0px;
    z-index: 99;
}

.navBar:hover .home-svg{
    /*fill:purple;*/ 
    fill:#D131FF;
}


.navBar:hover .problem-svg{
    /*fill:#0C00FF;*/
    /*fill:#058CC8;*/
    fill:#00ffe0;
}


.navBar:hover .solution-svg{
    fill:#FFD200;
}

.navBar:hover .faq-svg{
    fill:red;
}



.navBar ul {
    padding:0;
    margin:0;
    background-color: #313131;
}

.navBar li {
    list-style: none;
    border-top: 1px solid black;
    display: block;
    height: 10vh;
    padding:15% 0 15% 33%;
    width:auto;
}

.navBar a {
    text-decoration: none;
    display:block;
    width:60px;
}

.navBar a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
}

.navBar a:hover .home-svg {
    /*fill: #FF00EA;*/
    fill: #FF5DFD
}

.navBar a:hover .problem-svg {
    fill:#6DECFF;
}

.navBar a:hover .solution-svg {
    fill:yellow;
}


.navBar a:hover .faq-svg {
    fill:#FFACAC;
}
.navBar span {  
    display: block;
    text-align: center;
    width:auto;
    color:white;
    font-family: 'Barlow Condensed', 'Helvetica', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.06em;

}

.desktop-language a {
    text-decoration: none;
    display: block;
    width:auto;
}

.navBar .desktop-language {
    background-color:white;
    width:120px;
}


@media only screen and (min-width: 769px) {
    .mobile-navBar {
        visibility: hidden; 
    }

    .navBar {
        visibility: visible;
    }


    .content {
        /*width:769px;*/
        width:55%;
        left:26%;
        box-shadow: 0 10px 10px 0;
    }

    .home-image {
        margin-left: 14% !important;
        margin-top:17vh !important;
        box-sizing: border-box;
    }

    .home-image img {

       height:83vh !important;
       width:95% !important;
       box-shadow: 2px 7px 18px 3px;
        
    }

}

@media only screen and (width:1024px) and (height:1366px){

    .mobile-navBar {
        visibility: visible; 
    }

    .navBar {
        visibility: hidden;
    }

    .content {
        box-shadow: 0px -23px 0px 9px #313131;
        width: 100%;
        left:0;
    }
}

@media only screen and (max-height: 725px) and (min-width: 769px) {

    .navBar {
        margin: 0 0;
    }

    .navBar a {
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
    }

    .navBar li {
        height: 8vh;
        border:none;
    }

    .navBar a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

    .navBar ul{
        height: 100vh;
    }

    .home-image {
        margin-left:22% !important;
    }

    .home-image img {
        96%
    }
}

/*Desktop Navbar End*/

/*SVG CSS*/
.st {
    fill:#FFFFFF;
}

.home-image {
    margin-top: 12vh;
}

.home-image img{
    height: 50vh;
    width: 100%;
}

/*SVG CSS End*/