body{  
    margin:0;
}


/** Introside start *******************************************/
.content-wrapper-intro{
    background:URL(WHITE.jpg) ;
    font-family: 'Barlow Condensed', 'Helvetica', sans-serif;
    letter-spacing: 5px;
    height: 100vh;
    width: 100%;
    display: inline-block;
}

.introBar{
    margin: 70px 0 0 0;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    width:100%;
    
}
.introBar a{
    color: white;
}
.test{
    display: none;
    
}



.introBar li a{
    display:block;
    border-bottom: 1px solid;
    padding: 50px 30px;
    text-decoration: none;
    border-radius: 10px;
   /* background-color: rgba(16,13,13,0.75);*/
   background-color: #4b4b49;
    
    
    
}

.introBar li a:hover+div{
    background-color: rgba(16,13,13,0.75);
    display:inherit;
    border: solid;



    
}
.introBar li a:hover{
    margin: 0px;
    background-color: #ffffff;
    
    opacity: 0.9;
    filter: alpha(opacity=40);
    /*color: #100d0dbf;*/
    color: #4b4b49;
    
}
#english:hover{
   
}
#voice:hover{
    background: none;
    background-color: white;
    
}


.introBar ul{
    border:1px ;
    margin: 0 33.75%;
    padding: 0;
    width: 32.5%;
    list-style: none;
    border-radius: 10px;
    
    
    
}
.introBar li:last-child{
    border-bottom: none;

}


/* Media Queries*/

@media only screen and (max-width: 768px) {
    .introBar ul {
        margin: 0 10%;
        width: 80%;
    }

    .introBar li {
        padding: 3% 0;
    }
}

/*Media Queries End*/

/** Introside slutt ********************************/